section.contact-area .section-title h1 {
    font-size: 36px;
}

.contact-side-left p {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.contact-side-left form input {
    font-size: 18px;
    border: 1px solid #f0ebeb;
    background: #f0ebeb;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.contact-side-left form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 15px;
    color: #000;
    background: #f0ebeb;
    border: 1px solid #f0ebeb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.contact-side-left form input[type="submit"]{
    color: #000;
    border: 1px solid #000;
    padding: 10px 70px;
    width: auto;
    display: block;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    cursor: pointer;
}
.cont-side-right span {
    font-size: 18px;
    display: block;
    color: #000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.cont-side-right span a {
    font-size: 30px;
    color: #000;
    display: block;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    letter-spacing: normal;
}
.cont-side-right span a:hover{
    opacity: .5;
}
.social a {
    color: #000;
    font-size: 30px;
    margin-right: 25px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.social a:hover{
    opacity: .5;
}

.social span a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.social span a:hover{
    opacity: .5;
}

.social span {
    margin: 0;
}

.social {
    margin-bottom: 55px;
}
.ubi h6 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin-bottom: 15px;
}

.ubi p {
    font-size: 21px;
    color: #000;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.ubi {
    margin-bottom: 45px;
}
.m_text p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    margin-bottom: 8px;
}
.contact-side-left {
    margin-bottom: 40px;
}

.cont-side-right {
    margin-bottom: 40px;
}
iframe.our-map {
    width: 100%;
    height: 650px;
}
